@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
  font-family: 'Roboto', sans-serif;

}

a {
  text-decoration: none;
}

h1 {
  font-size: 400%;
}

.header {
  display: flex;
  background-image: url(../assets/headerBackground.jpg);
  background-size: cover;
    justify-content: space-around;
    color: white;
  height: 200px;
  align-items: center;
}


.nav {
  font-size: 200%;
  display: flex;
    list-style-type: none;

}


.nav li {
  padding: 20px;
    margin: 0 20px;

}

.nav-link {
  color: white;
}

.active {
  color: rgb(124, 134, 127);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 500px;
}

.section {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.about {
  background-color: rgba(255, 255, 255, 0.356);
  width: 60%;
  border-radius: 20px;
}

.container a {
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  padding: 30px;
  border-radius: 5px;
}

.form input, .form textarea {
  margin: 10px;
  width: 300px;
  background-color: rgba(243, 239, 232, 0.5);
}

.formMessage {
  height: 200px;
  vertical-align: text-top;
  background-color: rgba(243, 239, 232, 0.5);

}

.form button {
  width: 60px;
  align-self: flex-end;
}

.aboutSection {
  display: flex;
}

.aboutSection * {
  padding: 20px;
}

.aboutSection p {
  width: 500px;
}

@media screen and (max-width: 992px) {
  .header {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
  .header {
    height: auto;
  }
}