@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
  font-family: 'Roboto', sans-serif;

}

a {
  text-decoration: none;
}

h1 {
  font-size: 400%;
}

img {
  height: 300px;
  size: cover;
  border-radius: 20px;
}

/* header */
.header {
  display: flex;
  background-image: url(../assets/headerBackground.jpg);
  background-size: cover;
    justify-content: space-around;
    color: white;
  height: 200px;
  align-items: center;
}


.nav {
  font-size: 200%;
  display: flex;
    list-style-type: none;

}

.nav li {
  padding: 20px;
    margin: 0 20px;
}

.nav-link {
  color: white;
}

.active {
  color: rgb(124, 134, 127);
}

/* footer */
.footer {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin: 50px;
}

.centered {
  display: flex;
  justify-content: center;
}

.footer img {
  width: 60px;
  height: 60px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container a {
  color: black;
}

.section {
  display: flex;
  justify-content: center;
  padding: 50px;
}

/* the about page */
.about {
  background-color: rgba(255, 255, 255, 0.356);
  width: 60%;
  border-radius: 20px;
}

.aboutSection {
  display: flex;
  align-items: center;
}

/* .aboutParagraph {
  display: flex;
  flex-direction: column;
} */

.aboutSection * {
  margin: 20px;
  display: flex;
  align-items: center;
}

.aboutSection p {
  width: 500px;
}

/* the contact page */


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px black solid;
  padding: 30px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.356);
  width: 400px;
  border-radius: 20px;

}

.form input {
  height: 20px
}

.form input, .form textarea {
  margin: 10px;
  width: 300px;
  background-color: rgba(243, 239, 232, 0.5);
  border-radius: 3px;
  border: none;
  outline: none;
}

.formMessage {
  height: 200px;
  vertical-align: text-top;
  background-color: rgba(243, 239, 232, 0.5);

}

.form button {
  width: 60px;
  align-self: flex-end;
}

/* the portfolio page */

.projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .otherProjects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} */

.eachProject {
  height: 30%;
  width: 400px;
  flex: 1 1 400;
  border-radius: 10px;
  margin: 20px;
  /* transition: .5s; */
} 

/* .mainProject {
  margin: 10%;
  height: auto;
  width: 80%;
  flex: 1 1 400;
  border-radius: 10px;
  margin: 20px;
}

.mainProjectLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  height: 80%;
  width: 400px;
  transition: 0.5s;
} */

.overlay {
  background-color: rgba(255, 255, 255, 0.0);
  background-blend-mode:overlay;
  border-radius: 10px;
  transition: .5s;
}

.overlay:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.projectInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  height: 300px;
  width: 400px;
  transition: 0.5s;
}

.projectLinks { 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.skillsAndDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.skillsAndDesc p {
  margin: 4px;
}

.projectInfo:hover {
  opacity: 1;
  transition: .5s;
}

.projectLinks a {
  height: 30px;
  transition: 0.5s;
}

.projectLinks a:hover {
  font-size: 110%;
  transition: 0.5s;
}

.githubLogo {
  height: 30px;
  width: 30px;
  transition: 0.5s;

}

.githubLogo:hover {
  height: 35px;
  width: 35px;
  transition: 0.5s;
}

/* the Resume Page */
.resume {
   
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume a {
  color: black;
  text-decoration: underline;
}

@media screen and (max-width: 992px) {
  .header {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
  .header {
    height: auto;
  }
}